# config.yaml: Configuration for TransformerCycleGANLightning with High-Performance Data Loading
seed_everything: 42
model:
  lr_config:
    initial_lr: 0.0001
    scheduler_class: null
    scheduler_params: {}
  optimizer_config:
    optimizer_class: "AdamW"
    optimizer_params:
      betas: [0.5, 0.99]
  cycleGAN_config:
    constituent_features: 4
    condition_dim: 2
    max_constituents: 500
    embed_dim: 128
    num_heads: 4
    num_layers: 4
    ff_dim: 512
    lambda_a: 10.0
    lambda_b: 10.0
    lambda_id: 0.5
    lambda_energy: 0.0
    lambda_gp: 10.0
  salt_config:
    base_config: "/global/cfs/projectdirs/atlas/cxyang/EGamma/salt/salt/configs/base.yaml"
    user_config: "/global/cfs/projectdirs/atlas/cxyang/EGamma/bestModels/Electron_Cali_v31_flash_20250516-T041026/config.yaml"
    ckpt_path: "/global/cfs/projectdirs/atlas/cxyang/EGamma/bestModels/Electron_Cali_v31_flash_20250516-T041026/ckpts/epoch=090-val_loss=0.00000.ckpt"

data:
  mc_files:
    train: "/global/cfs/cdirs/atlas/cxyang/EGamma/nTuples_Jun25_layer/user.yangc.Jun25_layer.mc23_13p6TeV.601189.PhPy8EG_AZNLO_Zee.deriv.DAOD_EGAM1.e8514_s4162_r15540_p6286_EXT0/merged/user.yangc.45366334.EXT0_train_real.h5"
    val: "/global/cfs/cdirs/atlas/cxyang/EGamma/nTuples_Jun25_layer/user.yangc.Jun25_layer.mc23_13p6TeV.601189.PhPy8EG_AZNLO_Zee.deriv.DAOD_EGAM1.e8514_s4162_r15540_p6286_EXT0/merged/user.yangc.45366334.EXT0_val_real.h5"
  data_files:
    train: "/global/cfs/cdirs/atlas/cxyang/EGamma/nTuples_Jun25_layer/user.yangc.Jun25_layer.data22_13p6TeV.periodAllYear.physics_Main.PhysCont.DAOD_EGAM1.grp22_v01_p6000_EXT0/merged/user.yangc.45366333.EXT0_train_real.h5"
    val: "/global/cfs/cdirs/atlas/cxyang/EGamma/nTuples_Jun25_layer/user.yangc.Jun25_layer.data22_13p6TeV.periodAllYear.physics_Main.PhysCont.DAOD_EGAM1.grp22_v01_p6000_EXT0/merged/user.yangc.45366333.EXT0_val_real.h5"
  variables:
    jets: ['E', 'pt']
    constituents: ['cells_E', 'cells_eta', 'cells_phi', 'cells_layer']
  input_map:
    jets: 'jets'
    constituents: 'consts'
  constituent_name: 'constituents'
  batch_size: 256
  num_workers: 32

trainer:
  max_epochs: 50
  devices: 1
  default_root_dir: "experiments/transformer_cyclegan"
  logger:
    - class_path: lightning.pytorch.loggers.CometLogger
      init_args:
        workspace: "egamma_gnn"
        project: "TransformerCycleGAN-Energy"
        # --- REMOVED `experiment_name` and `offline_directory` ---
        # The experiment name will be auto-generated by Comet.
        # The save directory for offline logs will be determined by `trainer.default_root_dir`.
  callbacks:
    - class_path: lightning.pytorch.callbacks.ModelCheckpoint
      init_args:
        dirpath: null # This correctly tells the callback to save checkpoints in the logger's directory.
        filename: 'transformer-cycle-gan-{epoch:03d}'
        save_top_k: -1
        every_n_epochs: 5
    - class_path: lightning.pytorch.callbacks.LearningRateMonitor
      init_args:
        logging_interval: 'step'
    - class_path: lightning.pytorch.callbacks.TQDMProgressBar
      init_args:
        refresh_rate: 10